[submodule "openvaf-py/vendor/OpenVAF"]
	path = openvaf-py/vendor/OpenVAF
	url = https://github.com/robtaylor/OpenVAF.git
	branch = builtin-primitive-support
[submodule "vendor/VACASK"]
	path = vendor/VACASK
	url = https://codeberg.org/robtaylor/VACASK.git
	branch = macos-fixes
