[submodule "vendor/OpenVAF"]
	path = vendor/OpenVAF
	url = https://github.com/robtaylor/OpenVAF.git
	branch = builtin-primitive-support
[submodule "vendor/VACASK"]
	path = vendor/VACASK
	url = https://codeberg.org/robtaylor/VACASK.git
	branch = docs
[submodule "vendor/Xyce_Regression"]
	path = vendor/Xyce_Regression
	url = https://github.com/Xyce/Xyce_Regression.git
[submodule "vendor/ngspice"]
	path = vendor/ngspice
	url = git://git.code.sf.net/p/ngspice/ngspice
	branch = pre-master-46
